$p-color: #555545;
$p-main: clamp(11px, 0.94vw, 12px);
$p-second: clamp(18px, 1.04vw, 20px);
$p-thirt: clamp(12px, 1.3vw, 14px);
$h1: clamp(18px, 1.82vw, 30px);
$h2: clamp(22px, 1.3vw, 25px);
$margin-bottom: 40px;
$text-sm: 11px;
$black: #212121;
